<div class = "container">
  <div class="row">
    <div class="col-md-2">
      <img src="" alt=""><p>add image</p>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-5">
            <select>
                <option>ASAP</option>
                <option>Select A Delievey Time</option>
              </select>
        </div>
        <div class="col-md-1">
          TO
        </div>
        <div class="col-md-6">
            <input class = "addressInput" type="text" value="Enter your address">
        </div>
      </div>

    </div>
    <div class="col-md-1">
        <select>
          <option>English</option>
          <option>Spanish</option>
          <option>Chinese</option>
        </select>
    </div>
    <div  class="col-md-3">
      <app-authenticate></app-authenticate>
    </div>
    <div class="col-sm-1">
      <app-shopping-cart></app-shopping-cart>
    </div>

  </div>
</div>
