
  <!-- <div class="col-lg-2">
    <img src="" alt="">
  </div>
  <div class="col-lg-5">
    <div class="row">
      <div class="col-lg-4">
        <select>
          <option>ASAP</option>
          <option>Select A Delievey Time</option>
        </select>
      </div>
      <div class="col-lg-1">
        TO
      </div>
      <div class="col-lg-6">
        <input class="addressInput" type="text" value="Enter your address">
      </div>
    </div>

  </div>
  <div class="col-lg-1">
    <select>
      <option>English</option>
      <option>Spanish</option>
      <option>Chinese</option>
    </select>
  </div>
  <div class="col-lg-3">
    <app-authenticate></app-authenticate>
  </div> -->
 
  <!-- <nav class="navbar navbar-expand-sm navbar-custom">
    <a href="/" class="navbar-brand" >MunchTime Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <i class="fa fa-bars fa-lg py-1 text-white"></i>
    </button>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <span class="ml-auto navbar-text">Text</span>
    </div>
</nav>
 -->

  
  
 <!-- <div>
  <slideshow [imageUrls] = "imageSources"
             [height]= "'100%'"
             [minHeight] = "'800px'"
             [autoPlay] = "true"
             [autoPlayInterval] = 5000
             [showArrows] = "false"
             [lazyLoad] = "imageSources?.length > 1"
             [autoPlayWaitForLazyLoad]="true"
  >

  
  </slideshow>
 
</div> -->
<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide" class="img">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide" class="img">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Random third slide" class="img">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[3]" alt="Random fourth slide" class="img">
    <div class="carousel-caption">
      <h3>Fourth slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[4]" alt="Random fifth slide" class="img">
    <div class="carousel-caption">
      <h3>Fifth slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>



