@media(min-width: 1200px){
.container{
    max-width: 100%
}
}

/* @media(min-width: 992px){
    
}

@media(min-width: 768px){

}

@media(mid-width: 576px){

} */

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   // border: 2px aqua solid;
}

/* 
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 5em;
}