

<h1 style="text-align: center">Restaurants</h1>



  <div class="container">
    <div class="row" style="border: 2px red solid">
      <app-restaurant-item></app-restaurant-item>
      <app-restaurant-item></app-restaurant-item>
      <app-restaurant-item></app-restaurant-item>
      <app-restaurant-item></app-restaurant-item>
      <app-restaurant-item></app-restaurant-item>
      <app-restaurant-item></app-restaurant-item>
      <app-restaurant-item></app-restaurant-item>
      <app-restaurant-item></app-restaurant-item>
      <app-restaurant-item></app-restaurant-item>
    </div> 

 
</div>

